<h1>Import Timesheet Entries CSV File</h1>
<div>
  <%= form_tag import_timesheet_entries_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
  <% end %>
</div>

<br />

